<%- include("../header1"); %>
<div id="login">
    <div class="container">
        <div id="login-fila" class="row justify-content-center align-items-center">
            <div id="login-columna" class="col-md-6">
                <h3 class="text-center texto-login">Registrate a la Concesionaria Y&A C.A Aquí</h3>
                <%  if(typeof error != "undefined")  {%>
                    <p class="alert alert-danger text-uppercase text-center mt-3" role="alert"> <%= error %> </p>
                <% }%>
                <div id="login-registrar" class="col-md-12">
                    <form id="login-formulario" class="form" action="/registrarse/insertar" method="post">
                        <h3 class="text-center text-info">Registrarse</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Usuario:</label><br>
                            <input  required type="text" name="usuario" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Contraseña:</label><br>
                            <input required type="password" name="clave" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Repetir Contraseña:</label><br>
                            <input  required type="password" name="repetir" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                                <br>
                        <input type="submit" name="submit" class="btn btn-info" value="Registrase">
                        </div>
                        <div id="registro-link" class="text-right">
                            <a href="/login" class="text-info">SI tienes cuenta, Inicia Sesión</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../footer"); %>