</main>
    <footer class="navbar navbar-dark bg-dark d-flex justify-content-center mt-4 p-2 footer">
        <h5 class="text-white">Concesionaria Y&A C.A - <span><%= new Date().getFullYear()%></span>  &copy; </h5>
    </footer>
</body>
</html>
